{% load i18n %}

<div x-data="{
data: {% if widget.value.path %}{{ widget.value.path }}{% else %}''{% endif %},
url: {% if widget.value.url %}{{ widget.value.url }}{% else %}''{% endif %},
}" id="{{ widget.attrs.id }}"
     class="space-y-2" style="display: flex; flex-direction: column; width: 25%">
    <input type="file" name="{{ widget.name }}"
           accept="image/*" x-model="data"
           @change="url = URL.createObjectURL($event.target.files[0])"
           {% if widget.required %}required{% endif %}
           {% if widget.is_hidden %}hidden{% endif %}
    >
    <img :src="url" alt="{{ widget.value.name|default:'' }}"
         x-show="url"
         onload="window.URL.revokeObjectURL(src)"
         style="width: 100%"
    >
    <button x-show="url"
            @click.prevent="url = ''; data = ''"
            class="bg-blue-500 hover:bg-blue-700 text-white
            font-bold py-2 px-4 rounded"
    >{% trans "Remove Image" %}</button>
</div>
